# Node modules (install karenge container ke andar)
node_modules

# Build output (rebuild inside Docker anyway)
build

# Local logs
*.log

# OS/IDE files
.DS_Store
.env
.env.local
.vscode
.git
.gitignore

# npm/yarn debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage (if testing used)
coverage
